<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtended.qstile.xtnddecor"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.android.systemui" android:priority="1"/>

    <application android:label="Xtended Decor" android:hasCode="false" />
</manifest>
