<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gnonymous.gvisualmod.pg" platformBuildVersionCode="29" platformBuildVersionName="10" android:versionCode="1" android:versionName="1.0" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="29"/>
    <application android:extractNativeLibs="false"/>
    <overlay android:priority="26" android:targetPackage="com.android.systemui" android:isStatic="true"/>
</manifest>
