<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.xtended.notif.gradnotifcat"
   android:versionCode="1"
   android:versionName="1.0">
    <overlay android:targetPackage="com.android.systemui"
        android:category="android.customization.notif_header"
        android:priority="1"/>

    <application android:label="Gradient Header" android:hasCode="false"/>
</manifest>
